.header
    .container-block
        .wrap
            .left-block
                a.logo(href="/")
                    img(src="images/logo.svg", alt="")
                .hidden-title

            .right-block
                .residents
                    .label Резидентов
                    .counter
                        .count 314/
                        .total 500
                .social
                    a(href="#").social-item
                        img(src="images/icons/whatsapp.svg")
                    a(href="#").social-item
                        img(src="images/icons/telegram.svg")
                a(href="#footer").btn.modal-btn.footer-btn.phone-btn Заказать звонок