html
    title Home
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .success-block-wrap(style="background-image:url(images/assets/first-image.jpg)")
                .container-block
                    .success-block
                        .title Спасибо, что оставил заявку
                        p Ты уже на 1 шаг ближе к вступлению в Клуб 500

                        .video-wrap
                            .video
                                .hover
                                    img(src="images/assets/preview2.jpg")
                                iframe(src="https://www.youtube.com/embed/_wmpQApk644" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            .info
                                .time
                                    .icon.icon-clock
                                    .text 1:44

                        .h3.mt-20 Заполни анкету

                        .request-block
                            .left-block
                                p Анкета из 4 простых вопросов, которая позволит менеджеру заранее подготовить всю необходимую информацию для тебя.

                            .right-block
                                a(href="#").btn.btn-white Заполнить

        include ./blocks/scripts.jade