.footer#footer
    .container-block
        .footer-wrap
            .footer-col.left-col
                .h3 Получи материалы о Клубе 500 и резидентах
                p Материалы помогут узнать больше о клубе и принять взвешенное решение.
                img(src="images/assets/footer.png")
                a(href="#footer").btn.modal-btn.footer-btn Оставить заявку

            .footer-col.center-col
                .form-wrap
                    .title Оставь заявку на вступление в клуб

                    form.form
                        .row
                            .col
                                .input-wrap
                                    input.input(placeholder="Имя")
                        .row
                            .col
                                .input-wrap
                                    input.input(placeholder="Телефон")
                        .row
                            .col
                                .input-wrap
                                    input.input(placeholder="Email")
                        .row
                            .col
                                p.gray-color Нажимая кнопку «Оставить заявку» вы принимаете»&nbsp;
                                    a(href="#conditions")
                                        | условия передачи пользовательских данных
                        .row
                            .col
                                button(type="submit").btn.mt-t-10 Оставить заявку
                        .row
                            .col
                                p Заполни заявку и получи подробную презентацию клуба на следующем шаге

            .footer-col.right-col
                .residents
                    .label Резидентов
                    .counter
                        .count
                            #sum 314
                            | /
                        .total 500

                .event
                    .label Ближайшее мероприятие
                    .event-date 22 сентября
                    p Хочешь  узнать больше про Клуб 500 и принять участие в ближайшем мероприятии - оставь заявку, заполнив форму обратной связи.
                    a(href="#footer").btn.modal-btn.footer-btn Оставить заявку

    a(href="#footer").footer-btn-modal.modal-btn