script(type="text/javascript" src="./scripts/jquery-3.3.1.min.js")
script(type="text/javascript" src="scripts/jquery.validate.min.js")
script(type="text/javascript" src="scripts/jquery.mask.min.js")
script(type="text/javascript" src="scripts/countUp.min.js")
script(type="text/javascript" src="scripts/slick.min.js")
script(type="text/javascript" src="scripts/main.js")